[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/etudiants/inf/uapv1003958/Desktop/dbus-1.6.18]
row=0
col=1

[/home/etudiants/inf/uapv1003958/Desktop/UAPV]
row=9
col=0

[/home/etudiants/inf/uapv1003958/Desktop/garcon-0.3.0]
row=6
col=1

[/home/etudiants/inf/uapv1003958/Desktop/xfce4-panel-4.11.0]
row=2
col=2

[/home/etudiants/inf/uapv1003958/Desktop/xfce4-dev-tools]
row=6
col=0

[/home/etudiants/inf/uapv1003958/Desktop/xfdesktop4-4.11.8]
row=1
col=1

[/home/etudiants/inf/uapv1003958/Desktop/xfwm4_4.11.1-2ubuntu2.dsc]
row=0
col=0

[/home/etudiants/inf/uapv1003958/Desktop/dbus-glib-0.100.2]
row=1
col=2

[/home/etudiants/inf/uapv1003958/Desktop/xfconf-4.10.0]
row=12
col=0

[/home/etudiants/inf/uapv1003958/Desktop/exo-0.10.2]
row=11
col=0

[/home/etudiants/inf/uapv1003958/Desktop/libxslt-1.1.28]
row=8
col=0

[/home/etudiants/inf/uapv1003958/Desktop/UC]
row=3
col=2

[/home/etudiants/inf/uapv1003958/Desktop/debian]
row=5
col=1

[/home/etudiants/inf/uapv1003958/Desktop/xfwm4_4.11.1.orig.tar.bz2]
row=3
col=1

[/home/etudiants/inf/uapv1003958/Desktop/xfwm4_4.11.1-2ubuntu2.debian.tar.gz]
row=2
col=1

[/home/etudiants/inf/uapv1003958/Desktop/gtk-doc]
row=11
col=1

[/home/etudiants/inf/uapv1003958/Desktop/ouroumov@10.120.2.4]
row=0
col=2

[/home/etudiants/inf/uapv1003958/Desktop/libxml2-2.9.2]
row=8
col=1

[/home/etudiants/inf/uapv1003958/Desktop/xfce_setup_run.sh]
row=7
col=0

[/home/etudiants/inf/uapv1003958/Desktop/Bases.de.la.Programmation]
row=4
col=0

[/home/etudiants/inf/uapv1003958/Desktop/xfwm4-4.11.1]
row=10
col=0

[/home/etudiants/inf/uapv1003958/Desktop/libxfce4util-4.10.1]
row=4
col=1

[/home/etudiants/inf/uapv1003958/Desktop/libxfce4ui-4.11.1]
row=5
col=0

[/home/etudiants/inf/uapv1003958/Desktop/gnome-panel-3.8.0]
row=7
col=1

[/home/etudiants/inf/uapv1003958/Desktop/td1.py]
row=4
col=2

[/home/etudiants/inf/uapv1003958/Desktop/try.py]
row=3
col=0

[/home/etudiants/inf/uapv1003958/Desktop/libwnck-2.30.7]
row=2
col=0

[/home/etudiants/inf/uapv1003958/Desktop/thunar-1.6.3]
row=12
col=1

[/home/etudiants/inf/uapv1003958/Desktop/xfce4-session-4.10.1]
row=10
col=1

[/home/etudiants/inf/uapv1003958/Desktop/xfce4-settings-4.11.2]
row=1
col=0

[/home/etudiants/inf/uapv1003958/Desktop/histb]
row=9
col=1

