[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/etudiants/inf/uapv1003958/Desktop/tango-icon-theme_0.8.90-5ubuntu1.diff.gz]
row=1
col=0

[/home/etudiants/inf/uapv1003958/Desktop/tango-icon-theme_0.8.90.orig.tar.gz]
row=2
col=0

[/home/etudiants/inf/uapv1003958/Desktop/tmp]
row=4
col=0

[/home/etudiants/inf/uapv1003958/Desktop/tango-icon-theme_0.8.90-5ubuntu1.dsc]
row=3
col=0

[/home/etudiants/inf/uapv1003958/Desktop/tango-icon-theme-0.8.90]
row=0
col=0

[/home/etudiants/inf/uapv1003958/Desktop/xfce_setup_run.sh]
row=5
col=0

